@import "/src/app/styles/colors.less";

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    // gap: 20px;

    .paws {
        width: 400px;
        height: 400px;
    }

    .data-container {
        display: flex;
        flex-direction: column;
        font-size: 48px;
        gap: 20px;

        .data-item {
            display: flex;
            align-items: center;
            gap: 16px;

            &.name {
                font-size: 56px;
                font-weight: bold;
                // color: @tertiary;
            }
        }
    }

    .fake {
        width: 10%;
    }
}
