<dog-main-menu (activePage)="setActivePage($event)"></dog-main-menu>

<div
    class="top-page-container"
    [ngStyle]="{
        'background-image': 'url(' + selectedPage?.backgroundUrl + ')'
    }"
>
    <div [ngSwitch]="selectedPage.key" class="page-subtitle-container">
        <div *ngSwitchCase="ePage.Home" class="page-subtitle">
            <span class="home-text-1">Szkolimy</span>
            <span class="home-text-2">Bawimy</span>
            <span class="home-text-3">Kochamy</span>
        </div>
        <div *ngSwitchCase="ePage.AboutMe" class="page-subtitle">
            <span class="home-text-1">Coś</span>
            <span class="home-text-2">o</span>
            <span class="home-text-3">mnie</span>
        </div>
        <div *ngSwitchCase="ePage.Contact" class="page-subtitle">
            <span class="home-text-1">Zapraszam</span>
            <span class="home-text-2">do</span>
            <span class="home-text-3">kontaktu</span>
        </div>
    </div>
</div>

<!-- <div [ngClass]="{ 'page-overlay': menuOpen }" (click)="toggleMenu()"></div> -->
<router-outlet></router-outlet>
