<div class="page-container">
    <div class="about-me-container">
        <div class="about-me-title">O mnie</div>
        <div>
            <img src="assets/images/Kasia.jpg" class="me-img" />
        </div>
        <div class="about-me-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
        </div>
        <div class="my-dogs">
            <div class="dog-img">
                <img src="assets/images/Yenna.jpg" />
                <div class="slide-in"></div>
                <span class="dog-name">Yenna</span>
                <span class="slide-in-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut</span
                >
            </div>
            <div class="dog-img">
                <img src="assets/images/Kimber.jpg" />
                <div class="slide-in"></div>
                <span class="dog-name">Kimber</span>
                <div class="slide-in-text">
                    <span class="text"
                        >Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut</span
                    >
                </div>
            </div>
            <div class="dog-img">
                <img src="assets/images/Louis.jpg" />
                <div class="slide-in"></div>
                <span class="dog-name">Louis</span>
                <span class="slide-in-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut</span
                >
            </div>
        </div>
    </div>
</div>
