<div class="page-container">
    <div class="additional-info-container space-mobile-content secondary-style">
        <span class="page-wrapper about-me-header">
            <span>Poznaj mnie bliżej</span>
            <span class="about-me-subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
        </span>
    </div>
    <div class="about-me-page-content">
        <div class="about-me-content-wrapper page-wrapper">
            <div class="about-me-content">
                <div class="content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="img-container">
                <img class="about-me-img" src="assets/images/temp/aboutMe-1.jpg" />
            </div>
        </div>
    </div>
    <div class="additional-info-container space-mobile-content">
        <span class="page-wrapper">Moje certyfikaty</span>
    </div>
    <div class="certificate-wrapper page-wrapper">
        <dog-image-carousel [values]="certificates">
            <ng-template let-item #template>
                <img src="assets/images/certificates/{{ item.image }}.jpg" [id]="item.id" [alt]="item.name" class="certificate-image" />
            </ng-template>
        </dog-image-carousel>
    </div>
</div>
