@import "/src/app/styles/colors.less";

html,
body {
    height: 100%;
    overflow: hidden;
    background: @secondary;
}

body {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
        Lucida Grande, sans-serif;
    color: @primary;
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
}

.page-container {
    position: relative;
    // height: 100%;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0 72px 72px 72px;
}
